.txt {
  text-align: left;
  position: absolute;
  left: 86.5%;
  bottom: 13.5%;
}

.arrowimg {
  position: absolute;
  left: 90%;
  bottom: 6%;
  width: 3%;
}

.arrowimg img {
  width: 100%;
}

.mainimg {
  position: absolute;
  left: 93%;
  width: 5%;
  bottom: 0;
}

.mainimg img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .txt {
    left: 55%;
    bottom: 20%;
    font-size: 0.8em;
  }
  .arrowimg {
    bottom: 12%;
    width: 10%;
    left: 70%;
  }
  .mainimg {
    width: 15%;
    left: 80%;
    bottom: 7%;
  }
}

@media screen and (max-width: 768px) {
  .txt {
    left: 55%;
    bottom: 22%;
    font-size: 1em;
  }
  .arrowimg {
    bottom: 12%;
    width: 10%;
    left: 70%;
  }
  .mainimg {
    width: 15%;
    left: 80%;
    bottom: 7%;
  }
}

@media screen and (max-width: 1200px) {
  .txt {
    left: 55%;
    bottom: 22%;
    font-size: 2em;
  }
  .arrowimg {
    bottom: 12%;
    width: 10%;
    left: 70%;
  }
  .mainimg {
    width: 15%;
    left: 80%;
    bottom: 5%;
  }
}
